*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:cursive;
}

body{
    height: 100lvh;
    /* width: auto; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #133225;
}

.container{
    background-color: #fff;
    width: 500px;
    padding: 25px 35px;
    border-radius: 10px;
    box-shadow: 10px 10px 9px rgba(0, 0, 0, 0.2);
}

.container h2{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    font-size: 4vw;
    font-weight: 400;
} 
.container input{
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.container button{
    width: 49%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    cursor: pointer;
    background-color: rgb(191, 23, 191);
    color: #fff;
}

#img-box{
    width: 200px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 3s linear;
    /* background-color: blue; */
}
#img-box img{
    width: 100%;
    /* background-color: red; */
    padding: 10px;
}
#img-box.show-img{
    max-height: 300px;
    margin: 10px auto;
    margin-bottom: 20px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}